$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'animation';
$flatorange: #f39c12;
$pumpkin: #d35400;
$midnightBlue: #2c3e50;
$wetAsphalt: #34495e;
$clouds: #ecf0f1;
$asbestos: #7f8c8d;
$silver: #bdc3c7;


@import url(http:\/\/fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700|Roboto+Slab);
@import 'person';
@import 'typography';

//google fonts

//flatui colors

.searchSection{
  height: 250px;
  margin: 75px 25px auto 25px;

}
.popularSearchesSection{
  h3 {
    color: $flatorange;
  }
  a {
    color: $asbestos;
  }
  background-color: white;
  padding:15px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}
.popularSearchTagline{
  background-color: $clouds;
  padding:15px;
  margin: 5px 0 5px 0;
  p {
    color: $silver;
  }
}
.guideBox{
  background-color: $flatorange;
  padding: 5px;
  height: 75px;
  //width: 500px;
  //margin: 0 auto 0 auto;
  color: $clouds;
}

#searchTerm{
  padding: 15px;
  font-size: 1em;
  position: relative;
  left:20;
  background-color: $midnightBlue;
  color: white;
  height: 75px;
  width: 400px;
  border: none;
  border-radius: none;
  //margin: 0 50px 0 auto;
}

#searchGo{
  height: 100%;
}
.personResultsSection {
  padding-top: 25px;
  background-color: white;
  height: 500px;
}

.personBox{
  padding: 25px;
  background-color: $clouds;
  margin-bottom: 25px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background-image: url(http://retinajs.s3.amazonaws.com/images/backgrounds/bg.jpg);
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
