

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 4.5em;
	line-height: .9em;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 3em;
	line-height: .9em;
	text-decoration: none;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2.5em;
	line-height: .9em;
	color: $asbestos;
	text-decoration: none;
}
h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	line-height: .9em;
	color: $asbestos;
	text-decoration: none;
}


p {
	font-family: 'Roboto', sans-serif;
}