node_modules
dist
.env
.tmp
.sass-cache
bower_components
data/gtr_repo_20131122_0900.sql
.Rproj.user
.~*#
data/.Python
data/bin
data/lib
data/include
data/share
data/organisations.csv
data/project_topics_corpus.dict
data/project_topics_corpus.mm
data/project_topics_corpus.mm.index
data/project_topics_corpus_docs.txt
data/project_topics_corpus_ids.csv
data/project_topics_corpus_topics.txt
*.pyc
.env
*.swp

