<div class="row searchSection">
  <div class="row guideBox">
    <div class="col-lg-12">
      <h2>Find someone to help</h2>
    </div>
  </div>
  <div class="row searchForm">
    <form class="form-inline" role="form" ng-controller="MainCtrl">
      <div class="form-group">
        <label class="sr-only" for="searchTerm">Search</label>
        <div class="col-offset-lg-3">
          <input type="search" class="searchBox" id="searchTerm" ng-model="searchTerm" placeholder="Search for a topic like 'nanotechnology'">
        </div>
      </div>
      <button type="submit" class="btn btn-warning" id="searchGo" ng-click="showResults(searchTerm)">Search</button>
    </form>
  </div>
</div>

<div class="row popularSearchesSection">
  <h3>Popular searches</h3>
  <div class="row">
  <div class="col-lg-12 popularSearchTagline">
    <h4 class="text-center">We scour the Research council UK for people that can help <i>you</i>.</h4>
  </div>
  <div class="col-lg-6" ng-repeat="popularSearch in popularSearches" ng-model="popularSearches">
    <a ng-click="showResults(popularSearch)"><p class="text-center">{{popularSearch}}</p></a>
  </div>
  <div class="col-lg-6" ng-repeat="popularSearch in popularSearches" ng-model="popularSearches">
    <a ng-click="showResults(popularSearch)"><p class="text-center">{{popularSearch}}</p></a>
  </div>
</div>

<div class="footer">
  <p>An RCUK GtR hack by Florian, Ben, Thura, . Big thanks to <a href="http://www.flickr.com/photos/zachd1_618/">Zach Dischner</a> for the amazing photo.</p>
</div>
