<div class="row personSheet">
  <div class="row">
    <div class="container">
      <div class="col-lg-6">
        <h1>
          <a href="http://gtr.rcuk.ac.uk/person/{{person.id}}" target="_blank">
            {{person.firstName}} {{person.surname}}
          </a>
        </h1>
        <h3>
          <a href="http://gtr.rcuk.ac.uk/organisation/{{person.employer[0].id}}" target="_blank">
            {{person.employer[0].name}}
          </a>
        </h3>
      </div>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="container">-->
      <!--<div class="col-lg-12">-->
        <!--<h3>Total Money: <b>£{{person.total_money}}</b></h3>-->
        <!--<h3>No. of Projects: <b>{{person.num_projects}}</b></h3>-->
        <!--<h3>No. or Organisations worked with: <b>{{person.num_orgs}}</b></h3>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="row">
    <div class="container">
      <div class="col-lg-12">
        <h2>Associated Projects</h2>
        <h3>Principal Investigator</h3>
        <div ng-repeat="project in person.pi">
          <h4><a href="http://gtr.rcuk.ac.uk/project/{{project.id}}" target="_blank">{{project.title}}</a></h4>
          <p>{{project.abstractText}}</p>
        </div>
        <h3>Co-investigator</h3>
        <div ng-repeat="project in person.coi">
          <h4><a href="http://gtr.rcuk.ac.uk/project/{{project.id}}" target="_blank">{{project.title}}</a></h4>
          <p>{{project.abstractText}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
